.webswing-copyBarOuter {
	display: none;
	position: relative;
}

.webswing-copyBar {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	max-width: 480px;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 10px;
	background-color: #fff;
	border-color: #ddd;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.webswing-copyButtonRow {
	margin-right: 0 !important;
}

.webswing-copyBarTextArea {
	width: 100%;
	rows: 4;
}